.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #60dafb;
}

.roundtabs {
  border-radius: 15px 50px 30px 5px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.backgroundColour1 {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );

  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundColour2 {
  background: #00564d; /* fallback for old browsers */
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.backgroundColour3 {
  background: #22272c;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundColour4 {
  background: #da5a38;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundColour5 {
  background: #c594c5;

  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* 
  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundColour6 {
  background: #958a56;

  min-height: 100%;
  min-width: 100%;
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
}

.backgroundColour7 {
  background: #abb2bf;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
